@tailwind base;
@tailwind components;
@tailwind utilities;


/* navbar */
.menu-horizontal li a {
  margin: 0px 10px;
  background-color: whitesmoke;
  font-weight: 500;
  padding: 10px 15px;
}

.menu-horizontal li a.active {
  background-color: #bc986b !important;
  color: black !important;
}






/* btn */
.login {
  background-color: #bc986b;
  padding: 9px 15px;
  font-weight: 500;
  color: white;
}

.view {
  background-color: #bc986b;
  padding: 10px 15px;
  font-weight: 500;
  color: white;
}

.blog {
  border: 2px solid #bc986b;
  border-radius: 50px;
  padding: 8px 20px;
  font-weight: 500;
}

.form-control button {
  background-color: #bc986b;
  color: black;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 500;
}

.return-home {
  background-color: #bc986b;
  font-weight: 500;
  padding: 10px 20px;
  color: black;
}

/****/









.slider {
  height: 70vh;
  background-position: center;
  border-radius: 20px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  border-radius: 20px;
}

.slider-content {
  margin: 0px 60px;
}

.slider-1 {
  background-image: url(../src/assets/2.jpg);
}

.slider-2 {
  background-image: url(../src/assets/1.jpg);
}

.slider-3 {
  background-image: url(../src/assets/3.jpg);
}

.slider-4 {
  background-image: url(../src/assets/4.jpg);
}

.swiper-button-next {
  color: #bc986b !important;
  background-color: white;
  border-radius: 50%;
  width: 45px !important;
  height: 45px !important;
}

.swiper-button-next:after {
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-left: 4px;
}

.swiper-button-prev {
  color: #bc986b !important;
  background-color: white;
  border-radius: 50%;
  width: 45px !important;
  height: 45px !important;
}

.swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-left: -4px;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
}

.swiper-pagination-bullet-active {
  background: #bc986b !important;
}














/**/
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 30px;
}

.status {
  background-color: #bc986b;
  color: white;
  padding: 1px 15px;
  text-transform: capitalize;
  margin-top: -26px;
  width: fit-content;
}

/**/







/**/

.blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 30px;
}

/**/


.link {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0px;
}

.input:focus {
  outline: none;
}

.input {
  border-radius: 0px;
}


.login-option button {
  border: 1px solid rgb(208, 208, 208);
  padding: 7px 13px;
  border-radius: 5px;
}




/* update page css */
.update-form label {
  font-weight: 500;
}

.update-form input {
  display: block;
  border: 1px solid rgb(198, 198, 198);
  outline: none;
  width: 320px;
  height: 45px;
  margin-top: 10px;
  padding: 0px 10px;
}

.submit {
  background-color: #bc986b;
  width: 100%;
  padding: 10px 30px;
  font-size: 17px;
  color: black;
  font-weight: 500;
}



/* details */
.book-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 40px;
}

.facilities-tag {
  background-color: #bc986b4D;
  border-radius: 20px;
  color: black;
  padding: 5px 15px;
  font-weight: 500;
}

.Line {
  border: 1px solid #13131326;
  margin: 15px 0px;
}


/* responsive */
@media screen and (max-width: 1150px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width: 1024px) {
  .book-details-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 0px;
    margin-bottom: 20px;
  }

  .login-details {
    max-width: 500px;
  }
}


@media screen and (max-width: 850px) {
  .blog-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px 0px;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-img {
    height: 70%;
  }
}

@media screen and (max-width: 700px) {
  .update-profile-div {
    flex-wrap: wrap !important;
  }

  .update-profile-div>div {
    width: 100%;
  }

  .title {
    font-size: 35px;
  }
}

@media screen and (max-width: 450px) {
  .swiper-button-next {
    width: 35px !important;
    height: 35px !important;
  }

  .swiper-button-next:after {
    font-size: 15px !important;
    margin-left: 3px;
  }

  .swiper-button-prev {
    width: 35px !important;
    height: 35px !important;
  }

  .swiper-button-prev:after {
    font-size: 15px !important;
    margin-left: -3px;
  }
}
/**/