@tailwind base;
@tailwind components;
@tailwind utilities;




/* btn */
.login{
  background-color: #bc986b;
  padding: 10px 15px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
}

.view{
  background-color: #bc986b;
  padding: 10px 15px;
  font-weight: 500;
  color: white;
}

/*  */

.slider{
  height: 70vh;
  background-position: center;
  border-radius: 20px;
}

.overlay{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  border-radius: 20px;
}

.slider-1{
  background-image: url(../src/assets/1.jpg);
}

.slider-2{
  background-image: url(../src/assets/2.jpg);
}

.slider-3{
  background-image: url(../src/assets/3.jpg);
}

.slider-4{
  background-image: url(../src/assets/4.jpg);
}

.swiper-button-next{
  color: #bc986b !important;
  background-color: white;
  border-radius: 50%;
  width: 45px !important;
  height: 45px !important;
}

.swiper-button-next:after {
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-left: 4px;
}

.swiper-button-prev{
  color: #bc986b !important;
  background-color: white;
  border-radius: 50%;
  width: 45px !important;
  height: 45px !important;
}

.swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-left: -4px;
}

.swiper-pagination-bullet{
  background:  white !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
}

.swiper-pagination-bullet-active {
  background: #bc986b !important;
}





/*  */
.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 30px;
}

.status{
  background-color: #bc986b;
  color: white;
  padding: 1px 15px;
  text-transform: capitalize;
  margin-top: -26px;
  width: fit-content;
}
/*  */